---
import Layout from '@/layouts/Layout.astro'
import { education, experience, skills, teaching, publications } from '../data/cv'
import CvTimeline from '@/components/ui/CvTimeline.astro'

import type { Education, Experience, Publication } from '../types/cv'
import List from '@/components/ui/List.astro'
import PublicationsList from '@/components/ui/PublicationsList.astro'

let orderedEducations: Education[] = []
let orderedExperience: Experience[] = []
let orderedPublications: Publication[] = []

const orderElement = <T extends { time: string }>(a: T, b: T) => {
  const presentValues = ['present', 'now', 'current', 'today']
  const getRangeEnd = (value: string) => value.split(/\s*[–-]\s*/)[1]?.toLowerCase()

  if (
			presentValues.includes(getRangeEnd(a['time'] as string) ?? '')
		) {
			// If the date is 'present', it should be the first element
			return -1
		}
		const dateA = new Date(getRangeEnd(a['time'] as string) ?? '')
		const dateB = new Date(getRangeEnd(b['time'] as string) ?? '')
		return dateB.getTime() - dateA.getTime()
}

if (education.length > 0) {
	orderedEducations = education.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (experience.length > 0) {
	orderedExperience = experience.sort((a, b) => {
		return orderElement(a, b)
	})
}

if (publications.length > 0) {
	orderedPublications = publications.sort((a, b) => {
		return orderElement(a, b)
	})
}
---

<Layout>
	{
		orderedEducations.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Education
				</h2>
				<CvTimeline elements={orderedEducations} colored={true} />
			</section>
		)
	}

	{
		orderedExperience.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Administrative Experience
				</h2>
				<CvTimeline elements={orderedExperience} colored={true} />
			</section>
		)
	}

	{
		orderedPublications.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Last publications
				</h2>
				<PublicationsList elements={orderedPublications}/>
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<List listTitle='Skills' listItems={skills}/>
			</section>
		)
	}

	{
		teaching.length > 0 && (
			<section class='mb-12'>
				<List listTitle='Teaching' listItems={teaching}/>
			</section>
		)
	}
</Layout>
